* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
}

#qr-container {
    width: 350px;
    height: 520px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
}

.qr-code-img {
    text-align: center;
}

.qr-code-img img {
    width: 100%;
    padding: 1rem;
    border-radius: 25px;
}

h2 {
    text-align: center;
    padding: 0 1.3rem;
    color: hsl(218, 44%, 22%);
}

p {
    font-size: 15px;
    text-align: center;
    color: hsl(216, 15%, 48%);
    padding: 1rem 3rem;
}

/*




Media Queries




*/
 
@media screen and (max-widht: 480px) {

    #qr-container {
        margin-top: 2rem;
        width: 93%;
    }

}

